/* 클래스 */

.spaceInvader {
    width: 30px;
    height: 30px;
    min-width: 5px;
    min-height: 5px;
    position: absolute;
    background-image: url(../img/bg/space_invaders_icon_136180.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transition: 100;
    opacity: 0.7;
}

.infinite_rotating_logo{
    animation: rotate_image 30s linear infinite;
    transform-origin: 50% 50%;
}
